html{
    font-size: 20px;
}

body{
    text-align: center;
    background-color:#343d46;
}

h1,h2,h3,h4,h5,h6{
    font-family: monospace,'Courier New', Courier;
    color:#65737e;
    text-shadow: 2px 2px 3px #21272c;
}

.checkbox-img{
    width: 10%;
    height:auto;
}
input[type="text"],input[type="time"],input[type="email"]{
    background-color: #65737e;
}
::placeholder{
    color: #c0c5ce;
}